<div class="headline">
	<h1>To Do</h1>
</div>

<table class="table table-striped">
<% @items.each do |item| %>
	<% if item.completed == false %>
		<%= render item %>
	<% end %>
<% end %>
</table>

<% if current_user == @user %>
	<%= render 'items/form' %>
<% end %>

