<%= form_for @item, :url => new_item_path, :remote => true do |f| %>
  <div id="new-task-wrapper">
      <div id="new-task">
          <div class="field">
            <%= f.text_field :task %>
          </div>
          <div class="actions">
            <%= f.submit "Add New Task", :id => 'new-task-button' %>
          </div>
      </div>
  </div>
<% end %>
