<h1>Greetings!!</h1>
<p>Here's what you accomplished today:</p>
<ul>
	<% @recently_completed.each do |i| %>	
		<li><%= i.task %><li>
	<% end %>	
</ul>
	
<p>And here are the tasks you have yet to accomplish:</p>
<ul>
	<% @uncompleted.each do |i| %>
		<li><%= i.task %><li>
	<% end %>
</ul>
